{% block indexActions %}
    {% embed "CommonBundle:Partial:blocks.html.twig" %}
        {% block actions %}
            <a href="{{ path('parking_type_add')}}">Ajouter un type de stationnement</a>
        {% endblock actions%}
    {% endembed %}
{% endblock indexActions %}

{% block formActions %}
    {% embed "CommonBundle:Partial:blocks.html.twig" %}
        {% block actions %}
            <a href="{{ path('parking_index')}}">Retour a la liste</a>
        {% endblock actions%}
    {% endembed %}
{% endblock formActions %}