{% extends 'SiteBundle:Unit:Common/layout.html.twig' %}

{% block leftSide %} {{ block('formActions') }} {% endblock leftSide %}

{% block pageTitle %}Ajout d'un local{% endblock pageTitle%}

{% block information %}
    <div class="well">
        {{ form(form) }}
    </div> 
{% endblock %}