{#{% embed 'CommonBundle:Partial:modal.html.twig' %}#}
{% block modalHeader %}Ajout d'un local{% endblock modalHeader%}

{% block modalBody %}
    <div class="well">
        {{ form(form) }}
    </div> 
{% endblock modalBody %}
{#{% endembed %}#} 