{% extends 'ContractBundle:Contract:Common/layout.html.twig' %}

{% block leftSide %} {{ block('formActions') }} {% endblock leftSide %}

{% block pageTitle %}Modification d'un contrat{% endblock pageTitle%}

{% block information %}
    <div class="well">
        {{ form(form) }}
    </div> 
{% endblock %}