{% extends 'SiteBundle:Building:Common/layout.html.twig' %}

{% block leftSide %} {{ block('formActions') }} {% endblock leftSide %}

{% block pageTitle %}Modification de bâtiment{% endblock pageTitle%}

{% block information %}
    <div class="well">
        {{ form(form) }}
    </div> 
{% endblock %}